/* Global CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-image: url(../img/background.jpg);
  background-color: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

/* todo header */

.todo-container {
  max-width: 450px;
  margin: 3rem auto 0;
  background: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
}
